# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Output files
results/

# Temporary audio chunks
*_chunk_*.wav